<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интерактивный конспект</title>

    <link rel="stylesheet" href="src/lib/normalize/normalize.css">
    <link rel="stylesheet" href="src/lib/katex/katex.min.css">
    <link rel="stylesheet" href="src/fonts/open_sans/import.css">
    <link rel="stylesheet" href="src/css/styles.css">
</head>
<body>
    <div class="container">

        <div class="nav">
            <a href="#" class="item">Главная</a><div class="slash">/</div>
            <a href="#" class="item">Конспекты</a><div class="slash">/</div>
            <a href="#" class="item">1 курс</a><div class="slash">/</div>
            <a href="#" class="item">Аналитическая геометрия</a>
        </div>

        <h1>1.1 Аффинные пространства</h1>

        <div class="authors">
            <div class="title">Авторы:</div>
            <div class="item">
                <img class="image" style="width: 48px; height: 48px;" src="src/img/avatar.png" alt="#">
                <div class="name">Пузанов Тамир</div>
            </div>
        </div>

        <p>
            Пусть задано множество <span class="tex">\mathscr{A}</span>, элементы которго будем называть точками.  
            <span class="tex">\mathscr{A}</span> называют аффинным пространством, если для него задано векторное 
            пространство <span class="tex">V</span>, называемое ассоциированным векторным пространством с аффинным пространством 
            <span class="tex">\mathscr{A}</span> и отображение <span class="tex">\to : \mathscr{A} \times \mathscr{A} \to V</span>, 
            сопоставляющее любым двум точкам из <span class="tex">A, B \in \mathscr{A}</span> некоторый вектор 
            <span class="tex">a \in V</span>, обозначаемый <span class="tex">\overrightarrow{AB}</span>,  c началом в 
            <span class="tex">A</span> и концом в <span class="tex">B</span>, и удовлетворяющее следующим аксиомам:
        </p>
    </div>

    <script src="src/lib/katex/katex.min.js"></script>
    <script src="src/js/main.js"></script>
</body>
</html>
