<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интерактивный конспект</title>

    <link rel="stylesheet" href="src/lib/normalize/normalize.css">
    <link rel="stylesheet" href="src/lib/katex/katex.min.css">
    <link rel="stylesheet" href="src/fonts/open_sans/import.css">
    <link rel="stylesheet" href="src/css/styles.css">
</head>
<body>
    <div class="container">

        <div class="nav">
            <a href="#" class="item">Главная</a><div class="slash">/</div>
            <a href="#" class="item">Конспекты</a><div class="slash">/</div>
            <a href="#" class="item">1 курс</a><div class="slash">/</div>
            <a href="#" class="item">Аналитическая геометрия</a>
        </div>

        <h1>1.1 Шаблон</h1>

        <div class="authors">
            <div class="title">Авторы:</div>
            <div class="item">
                <img class="image" style="width: 48px; height: 48px;" src="src/img/avatar.png" alt="#">
                <div class="name">Пузанов Тамир</div>
            </div>
        </div>

        <h2>1.1.1 Текст и Tex формулы</h2>

        <p>
            Пусть задано множество <span class="tex">\mathscr{A}</span>, элементы которго будем называть точками.  
            <span class="tex">\mathscr{A}</span> называют <i>аффинным пространством</i>, если для него задано векторное 
            пространство <span class="tex">V</span>, называемое ассоциированным векторным пространством с аффинным пространством 
            <span class="tex">\mathscr{A}</span> и отображение <span class="tex">\to : \mathscr{A} \times \mathscr{A} \to V</span>, 
            сопоставляющее любым двум точкам из <span class="tex">A, B \in \mathscr{A}</span> некоторый вектор 
            <span class="tex">a \in V</span>, обозначаемый <span class="tex">\overrightarrow{AB}</span>,  c началом в 
            <span class="tex">A</span> и концом в <span class="tex">B</span>, и удовлетворяющее следующим аксиомам:
        </p>

        <p>
            <ol>
                <li>
                    <span class="tex">\forall A \in \mathscr{A}</span> и 
                    <span class="tex">\forall a \in V \ \ \ \exists ! \ B \in \mathscr{A} : \overrightarrow{AB} = a</span>
                </li>
                <li>
                    <span class="tex">\forall A,B,C \in \mathscr{A}</span> верно, что 
                    <span class="tex">\overrightarrow{AB} + \overrightarrow{BC} = \overrightarrow{AC}</span>
                </li>
            </ol>

            <span class="tex">dim \ \mathscr{A} := dim \ V</span>
        </p>

        <h2>1.1.2 Стилизация текста и большие формулы</h2>

        <p>
            Наиболее часто определение предела функции формулируют на <u>языке окрестностей</u>. 
            То, что предел функции рассматривается только в точках, предельных для области 
            определения функции, означает, что в любой окрестности данной точки существуют 
            точки области определения. Это позволяет говорить о стремлении аргумента функции 
            к данной точке. При этом предельная точка области определения не обязана принадлежать 
            самой области определения: например, можно рассматривать предел функции на концах
            открытого интервала, на котором определена функция (сами концы интервала 
            в область определения не входят).
        </p>

        <p class="t-large">
            <span class="tex">
                \forall { \color{orange} \varepsilon } \gt 0 \  \exists \ { \color{green} \delta } > 0 : 
                \left[ 0 \lt \left| x - a \right| \lt { \color{green} \delta } \Rightarrow 
                \left| f(x) - A \right| \lt { \color{orange} \varepsilon } \right]
            </span>
            <span class="tag">(1)</span>
        </p>

        <p>
            Значение <span class="tex">A</span> называется пределом (предельным значением) функции <span class="tex">f(x)</span> 
            в точке <span class="tex">a</span> если для любого положительного числа <span class="tex">\color{orange} \varepsilon</span> 
            можно подобрать соответствующее ему положительное число <span class="tex">{ \color{green} \delta }</span> такое, что для всех аргументов 
            <span class="tex">x</span> удовлетворяющих условию выполняется неравенство (1).
        </p>

        <h2>1.1.3 Изображения</h2>

        <p>
            <b>Гиперболо́ид</b> (от др.-греч. ὑπερβολή — гипербола, и εἶδος — вид, внешность) — незамкнутая центральная поверхность 
            второго порядка в трёхмерном пространстве, задаваемая в декартовых координатах уравнением
        </p>

        <p class="t-middle">
            <span class="tex dmode">\frac{x^2}{a^2} + \frac{y^2}{b^2} - \frac{z^2}{c^2} = 1</span>
            <span style="padding-left: 20px;"><b>(однополостный гиперболоид)</b></span>
        </p>

        <img style="width: 100%; height: auto;" src="src/img/img1.png">

        <p>

            Различают два вида гиперболоидов: однополостный (рис. 1) и двуполостный (рис. 2). 
            Они представляют собой два типа из общего числа пяти основных типов поверхностей 
            второго порядка и в пересечении со всевозможными плоскостями дают все конические сечения 
            – эллипс, гиперболу и параболу, а также пары прямых (в случае однополостного гиперболоида). 
            Гиперболоид неограниченно приближается к конической поверхности (т. н. асимптотическому 
            конусу). Однополостный гиперболоид представляет собой линейчатую поверхность. В 
            надлежащей системе координат (см. рис. 1, 2) уравнения гиперболоида имеют вид 
        </p>
        <p style="padding-top: 8px;">
            <div class="raw">
                <div class="col">
                    <img style="width: 150px; height: auto;" src="src/img/img2.png">
                </div>
                <div class="col">
                    <ul>
                        <li>Линейчатая поверхность характеризуется тем, что её асимптотическая сеть ― полугеодезическая.</li>
                        <li>Гауссова кривизна линейчатой поверхности</li>
                        <li>Теорема Бельтрами. Линейчатую поверхность всегда можно и притом единственным образом изогнуть так, что произвольная линия на ней станет асимптотической.</li>
                        <li>Теорема Бонне. Кроме того, если линейчатая поверхность, не являющаяся развёртывающейся, изгибается в линейчатую поверхность, то либо их образующие соответствуют друг другу, либо обе они изгибаются в квадрику, на которой сеть, соответствующая семействам образующих, ― асимптотическая.</li>
                    </ul>
                </div>
            </div>
        </p>
    </div>

    <script src="src/lib/katex/katex.min.js"></script>
    <script src="src/js/main.js"></script>
</body>
</html>
