/* * {
    font-family: 'OpenSans';
    font-weight: 400;
    color: #323232;
} */

body {
    background-color: #ffffff;
    /* overflow-x: hidden; */
}

h1, h2, h3 {
    font-family: "OpenSans";
    font-weight: 500;
}

h1 {
    font-size: 46px;
    margin: 0.67em 0;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 16px;
    font-family: "OpenSans";
    font-weight: 400;
    color: #323232;
    line-height: 130%;
}

a, div {
    font-family: "OpenSans";
}

span.tex {
    color: transparent;
}

span.tex.showed {
    font-family: Arial, Helvetica, sans-serif;
    color: #323232;
}

p.t-large {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    /* text-wrap: nowrap; */
    overflow-x: auto;
}

p.b-small {
    padding: 4px 0px;
}

p.t-large > span.tex {
    font-size: 25px;
}

p.t-large > .tag {
    margin-left: auto;
    font-size: 26px;
    padding-left: 20px;
}

p.t-middle {
    /* display: flex; */
    /* align-items: center; */
    padding: 2px 0px;
    overflow-x: auto;
}

p.t-middle .katex-display {
    text-align: start !important;
}

p.t-middle > span.tex {
    font-size: 18px;
}

.container {
    width: 100%;
    min-height: 100px;

    background-color: #ffffff;
    padding: 0px 22%;

    box-sizing: border-box;

    padding-top: 30px;
    padding-bottom: 50px;
}

.container > .nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.container > .nav > .item {
    text-decoration: none;
    text-wrap: nowrap;
    font-size: 16px;
    color: #323232;
}

.container > .nav > .slash {
    padding: 0px 4px;
    font-size: 18px;
    font-weight: 500;
}

.container > .authors {
    width: 100%;
    background: transparent;

    display: flex;
    align-items: center;
}

.container > .authors > .title {
    font-size: 16px;
    font-weight: 500;
    color: #323232;
    padding-right: 25px;
}

.container > .authors > .item {
    display: flex;
    align-items: center;
}

.container > .authors > .item > .image {
    border-radius: 100%;
    margin-right: 10px;
}

.container > .authors > .item > .name {
    font-weight: 500;
}

.raw {
    display: flex;
}

.raw > .col1 {
    flex: 1;
}

.raw > .col2 {
    flex: 2;
}

ul > li {
    padding-bottom: 5px;
}

ul.s-middle > li, ol.s-middle > li {
    margin-bottom: 8px;
}

.proof {
    /* width: 100%; */
    padding: 18px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.proof.hidden > .content {
    opacity: 0;
    display: none;
    margin: 0px;
}

.proof > .head {
    display: flex;
    align-items: center;
    cursor: pointer;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.proof > .head:hover {
    text-decoration: underline;
}

.proof > .head > .icon {
    transform: rotate(180deg);
    transition: all 0.5s ease;
}

.proof.hidden > .head > .icon {
    transform: rotate(0deg);
}

.proof > .head > .title {
    font-weight: 700;
}

.proof.hidden:hover {
    cursor: pointer;
}

.proof.hidden:hover > .head {
    text-decoration: underline;
}

.proof > .head > .icon {
    width: 0; 
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #323232;
    margin-right: 10px;
}

.proof > .content {
    margin-top: 16px;
    transition: all 0.5s ease;
}

p::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

p::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
}

p::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}

p::-webkit-scrollbar-thumb:hover{
    background: rgba(0,0,0,0.4);
}

p::-webkit-scrollbar-thumb:active{
    background: rgba(0,0,0,.9);
}

@media (max-width: 1300px) and (min-width: 700px) {
    .container {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (max-width: 700px) {

    h1 {
        font-size: 36px;
    }

    .container {
        padding-left: 8%;
        padding-right: 8%;
    }

    .raw {
        flex-direction: column;
        align-items: center;
    }
}